
{% extends "template.html" %}


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                        {% block content %}

                        <div class="card">
                        <div class="card-body">
                            <form method="POST" class="form-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Сохранить">
                            </form>
                        </div>
                        </div>

                        {% endblock content %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    