{% extends 'template.html' %}

{% block content %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Найти сотрудника</h1>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <form method="GET">
                                {% csrf_token %}
                                {{ filter.form }}
                                <input type="submit" value="Поиск"/>
                            </form>
                            <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if filter.qs|length %}
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Отчество</th>
                                            <th>День рождения</th>
                                            <th>Должность</th>
                                            <th>Дата подписания трудового контракта</th>
                                            <th>Отдел</th>
                                            <th>наставник</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Отчество</th>
                                            <th>День рождения</th>
                                            <th>Должность</th>
                                            <th>Дата подписания трудового контракта</th>
                                            <th>Отдел</th>
                                            <th>наставник</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for el in filter.qs %}
                                            <tr>
                                                <td>{{ el.surname }}</td>
                                                <td>{{ el.name }}</td>
                                                <td>{{ el.surname2 }}</td>
                                                <td>{{ el.birthday }}</td>
                                                <td>{{ el.job_title }}</td>
                                                <td>{{ el.date_time_contract }}</td>
                                                <td>{{ el.department }}</td>
                                                <td>{{ el.mentor }}</td>
                                                <td>{{ el.get_uuid }}</td>
                                            </tr>
                                            <br>
                                            {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>Данные не найдены</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock content%}