
{% extends "index.html" %}

{% block body %}

    <form method="GET">
        {% csrf_token %}
        {{ filter.form }}
        <input type="submit" value="Поиск"/>
    </form>

    {% if filter.qs|length %}
        {% for el in filter.qs %}
        <tr>
            <td>{{ el.surname }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.surname2 }}</td>
            <td>{{ el.birthday }}</td>
            <td>{{ el.job_title }}</td>
            <td>{{ el.date_time_contract }}</td>
            <td>{{ el.department }}</td>
            <td>{{ el.mentor }}</td>
            <td>{{ el.get_uuid }}</td>
        </tr>
        <br>
            
        {% endfor %}
    {% else %}
        <p>Данные не найдены</p>
    {% endif %}

{% endblock body %}