{% extends "accounts/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-10 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <!-- <div class="col-lg-6 d-none d-lg-block"></div> -->
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="POST" action="{% url 'account_login' %}">
                                        {% csrf_token %}
                                        <!-- {% for field in form %}
                                            <div class="form-group">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                                <label for="id_subject">Subject:</label>
                                                <input id="id_subject" type="text" name="subject" maxlength="100" required> -->
                                                <!-- <input type="email" class="form-control form-control-user"
                                                id="{{ field.label_tag }}" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..."> -->
                                            <!-- </div> -->
                                        <!-- {% endfor %} -->
                                        {{ form.as_p }}
                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        <!-- <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div> -->
                                        <!-- <a href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a> -->
                                        <button class="primaryAction" type="submit">Sign In</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

{% endblock %}
